<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City of loans</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="styles/fonts/fontawesome-free-5.7.2-web/css/all.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
<div id="app" class="contentWrapper black-bg">
    <header class="main_header inner-header">
        <div class="main_header-top">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a href="/" class="logo">
                            <img src="" alt="">
                            <span>Lorem Ipsum</span>
                        </a>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <h1>ПРОФІЛЬ</h1>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end">
                        <div class="header_links">
                            <a href="">
                                ВХІД
                            </a>/
                            <a href="">РЕЄСТРАЦІЯ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="section inner-section black-bg" v-if="master">
        <div class="container container-mini">
            <div class="search-top-panel profileSearch">
                <div class="searchWrapper">
                    <input type="text" placeholder="Введіть послугу (манікюр, зачіска ...)">
                    <div class="select-wrap">
                        <i class="fas fa-map-marker-alt"></i>
                        <select name="" id="">
                            <option value="" disabled selected>Місто</option>
                            <option value="">Киев</option>
                            <option value="">Одесса</option>
                        </select>
                    </div>
                    <button class="btn-link">Пошук</button>
                </div>
            </div>
            <div class="profileWrapper">
                <div class="avatar-box big accent">
                    <img src="images/master-1.jpg" alt="">
                    <div class="avatar-link"
                         @click="isOrderShow = !isOrderShow">
                        <span v-if="!isOrderShow">Замовити</span>
                        <span v-if="isOrderShow">+ 380 96 67 888 48</span>
                    </div>
                </div>
                <div class="profile-info">
                    <div class="profile-head">
                        <div class="prt">
                            <div class="profile-name">Irina Postuma</div>
                            <div class="profile-label">Спосіб оплати:</div>
                            <div class="icon-block">
                                <i class="far fa-credit-card"></i>
                                <i class="fas fa-money-bill"></i>
                            </div>
                            <div class="profile-address profile-label">
                                <i class="fas fa-map-marker-alt"></i>
                                м. Луцьк, пр.Волі
                                <div class="profile-address-footer">
                                    <span class="profile-label">широта</span>
                                    <span class="profile-label">довгота</span>
                                    <a href="" class="link link-accent">як знайти</a>
                                </div>
                            </div>
                        </div>
                        <div class="prt d-flex align-items-center justify-content-center">
                            <h3>Слоган</h3>
                        </div>
                        <div class="prt">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="profile-time">
                            <span class="profile-label">
                                <i class="far fa-clock"></i>
                            з 9:00 по 18:00
                            </span>
                                <div class="profile-week">
                                    <span class="act">пн</span>
                                    <span class="act">вт</span>
                                    <span class="act">ср</span>
                                    <span class="act">чт</span>
                                    <span class="act">пт</span>
                                    <span>сб</span>
                                    <span>нд</span>
                                </div>
                            </div>
                            <div class="profile-time">
                            <span class="profile-label">
                                <i class="far fa-clock"></i>
                            з 9:00 по 12:00
                            </span>
                                <div class="profile-week">
                                    <span>пн</span>
                                    <span>вт</span>
                                    <span>ср</span>
                                    <span>чт</span>
                                    <span>пт</span>
                                    <span class="act">сб</span>
                                    <span class="act">нд</span>
                                </div>
                            </div>
                            <div class="profile-side profile-label">
                                <i class="fas fa-car-side"></i>
                                Виїзд
                            </div>
                        </div>
                    </div>

                    <div class="profile-footer">
                        <div class="profile-descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget mattis ligula, id
                                condimentum
                                arcu. Fusce et nibh rutrum, porta leo non, ullamcorper justo. Nam congue lobortis ipsum,
                                molestie ultrices tellus euismod et. Vivamus purus nunc, interdum vitae massa a,
                                ultrices
                                blandit diam. Duis vitae est non turpis mollis vulputate. Ut posuere vehicula enim, quis
                                iaculis
                                sem convallis ac. Mauris dignissim mollis nulla et placerat. Interdum et malesuada fames
                                ac ante
                                ipsum primis in faucibus. Morbi eu nulla scelerisque felis vestibulum sollicitudin vel
                                sit amet
                                enim. Proin molestie risus vehicula risus vulputate accumsan. Donec gravida eros vel
                                accumsan
                                efficitur. Suspendisse velit ex, aliquet id commodo ut, porta et arcu.</p>
                        </div>
                        <a href="" class="link link-accent">Добавити в вибрані</a>
                    </div>
                    <div class="profile-tabs">
                        <ul>
                            <li
                                    @click="isActiveProfileTab = 1"
                                    :class="[isActiveProfileTab === 1 ? 'active' : '']">Послуги
                            </li>
                            <li
                                    @click="isActiveProfileTab = 2"
                                    :class="[isActiveProfileTab === 2 ? 'active' : '']">Портфоліо
                            </li>
                            <li
                                    @click="watch()"
                                    :class="[isActiveProfileTab === 3 ? 'active' : '']">Відгуки
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs-content" v-if="isActiveProfileTab === 1">
            <div class="services-tabs">
                <div class="container container-mini">
                    <ul class="tabs">
                        <li
                                @click="isActiveServiceTab = 1"
                                :class="[isActiveServiceTab === 1 ? 'active' : '']">
                            Уход за ногтями
                            <i class="fas fa-caret-down"></i>
                        </li>
                        <li
                                @click="isActiveServiceTab = 2"
                                :class="[isActiveServiceTab === 2 ? 'active' : '']">
                            Косметологія
                            <i class="fas fa-caret-down"></i>
                        </li>
                        <li
                                @click="isActiveServiceTab = 3"
                                :class="[isActiveServiceTab === 3 ? 'active' : '']">
                            Уход за ресницами
                            <i class="fas fa-caret-down"></i>
                        </li>
                        <li
                                @click="isActiveServiceTab = 4"
                                :class="[isActiveServiceTab === 4 ? 'active' : '']">
                            Депилація
                            <i class="fas fa-caret-down"></i>
                        </li>
                        <li
                                @click="isActiveServiceTab = 5"
                                :class="[isActiveServiceTab === 5 ? 'active' : '']">
                            Макияж
                            <i class="fas fa-caret-down"></i>
                        </li>
                    </ul>
                </div>

                <div class="services-tab-content" v-if="isActiveServiceTab === 1">
                    <div class="container container-mini">
                        <ul class="list-info">
                            <li>
                                <span class="ttl">Маникюр</span>
                                <span class="text-field">400 грн</span>
                            </li>
                            <li>
                                <span class="ttl">Педикюр</span>
                                <span class="text-field">400 грн</span>
                            </li>
                            <li>
                                <span class="ttl">Наращивание ногтей</span>
                                <span class="text-field">150 грн</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="services-tab-content" v-if="isActiveServiceTab === 2">
                    <div class="container container-mini"></div>
                </div>
                <div class="services-tab-content" v-if="isActiveServiceTab === 3">
                    <div class="container container-mini"></div>
                </div>
                <div class="services-tab-content" v-if="isActiveServiceTab === 4">
                    <div class="container container-mini"></div>
                </div>
                <div class="services-tab-content" v-if="isActiveServiceTab === 5">
                    <div class="container container-mini"></div>
                </div>
                <div class="services-tabs">
                    <div class="container container-mini">
                        <ul class="tabs">
                            <li
                                    @click="isActiveServiceTab = 6"
                                    :class="[isActiveServiceTab === 6 ? 'active' : '']">
                                Другой уход за собой
                                <i class="fas fa-caret-down"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="services-tab-content gray-bg gallery-block" v-if="isActiveServiceTab === 6">
                    <div class="container container-mini">
                        <div class="photo-gallery grid">
                            <div class="item">
                                <img src="images/demo.png" alt="">
                            </div>
                            <div class="item">
                                <img src="images/demo.png" alt="">
                            </div>
                            <div class="item">
                                <img src="images/demo.png" alt="">
                            </div>
                            <div class="item">
                                <img src="images/demo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs-content gray-bg gallery-block" v-if="isActiveProfileTab === 2">
            <div class="container container-mini">
                <div class="photo-gallery grid">
                    <div class="item">
                        <img src="images/demo.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/demo.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/demo.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/demo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs-content" v-if="isActiveProfileTab === 3">

            <div class="reviewsWrapper">
                <div class="container container-mini">
                    <div class="btn-bar text-right">
                        <div class="link link-accent"
                            @click="addReview = !addReview">ЗАЛИШИТИ ВІДГУК</div>
                    </div>
                </div>

                <ul>
                    <li class="item item-review" v-if="addReview">
                        <div class="container container-mini">
                            <div class="item-content">
                                <div class="item-avatar" style="background-image: url('images/review-1.png');">
                                    <div class="item-info">
                                        <div class="blur" style="background-image: url('images/review-1.png');"></div>
                                        <div class="name">Anna Postuma</div>
                                    </div>
                                    <div class="item-address">
                                        Луцьк
                                    </div>
                                </div>
                                <div class="item-text" >
                                    <div class="wrap">
                                        <div class="item-top">
                                            <label>Оцініть салон/мастера</label>
                                            <div class="item-rating">
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <textarea name="" class="txt"></textarea>
                                        <div class="btn-bar">
                                            <div class="link">Залишити відгук</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item" v-for="(item, i) of [1,2,3]">
                        <div class="container container-mini">
                            <div class="item-content" :class="[isOpen ? 'show' : '']">
                                <div class="item-avatar" style="background-image: url('images/review-1.png');">
                                    <div class="item-info">
                                        <div class="blur" style="background-image: url('images/review-1.png');"></div>
                                        <div class="name">Anna Postuma</div>
                                        <div class="item-rating">
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star active"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="item-address">
                                        Луцьк
                                    </div>
                                </div>
                                <div class="item-text" >
                                    <div class="wrap">
                                        <div class="item-text-wrapper">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum
                                                eros
                                                sit
                                                amet arcu laoreet imperdiet. Nullam sit amet justo facilisis, placerat ex
                                                vel,
                                                faucibus
                                                urna. Morbi ut vehicula nunc, non aliquam turpis. Suspendisse eleifend et
                                                felis ac
                                                vulputate. Nulla orci diam, lacinia id vestibulum vitae, dictum vel metus.
                                                Duis sit
                                                amet
                                                eleifend tortor. Suspendisse ut quam in elit vehicula posuere nec nec nisi.
                                                Aenean
                                                ornare gravida lacus, et finibus nisl mattis nec.</p>
                                            <p>Duis varius nisi eu velit convallis
                                                consequat porta sit amet est. Donec ornare ex at risus consectetur, vel
                                                volutpat
                                                justo
                                                tincidunt. Praesent sit amet est sed quam sollicitudin ultrices.
                                                Pellentesque
                                                habitant
                                                morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                                Nulla sapien
                                                nisl, hendrerit quis tincidunt sit amet, volutpat in augue.
                                            </p>
                                        </div>
                                        <i class="show-more fas fa-chevron-down"
                                           v-if="isShow"
                                           @click="isOpenReview(i)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container container-mini">
            <div class="comment-box">
                <i class="far fa-comment"></i>
            </div>
        </div>
    </div>
    <div class="section inner-section black-bg clientWrapper" v-if="!master">
        <div class="container container-mini">
            <div class="search-top-panel profileSearch">
                <div class="searchWrapper">
                    <input type="text" placeholder="Введіть послугу (манікюр, зачіска ...)">
                    <div class="select-wrap">
                        <i class="fas fa-map-marker-alt"></i>
                        <select name="">
                            <option value="" disabled selected>Місто</option>
                            <option value="">Киев</option>
                            <option value="">Одесса</option>
                        </select>
                    </div>
                    <button class="btn-link">Пошук</button>
                </div>
            </div>
            <div class="profileWrapper clientBox">
                <div class="avatar-box big client-profile">
                    <img src="images/review-1.png" alt="">
                    <div class="avatar-link">
                        <span>Змінити фото</span>
                    </div>
                </div>
                <div class="profile-info">
                    <div class="profile-head">
                        <div class="prt formWrapper">
                            <form action="">
                                <div class="input-wrap">
                                    <input type="text" class="txt fz20 txt-transparent" placeholder="Имя">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-wrap with-icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <input type="text" class="txt txt-transparent" placeholder="Адрес">
                                        </div>
                                        <div class="input-wrap with-icon">
                                            <i class="fas fa-phone"></i>
                                            <input type="text" class="txt txt-transparent" placeholder="Телефон">
                                        </div>
                                        <div class="input-wrap with-icon">
                                            <i class="far fa-envelope"></i>
                                            <input type="text" class="txt txt-transparent" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-wrap">
                                            <input type="text" class="txt txt-transparent" placeholder="Змінити пароль">
                                        </div>
                                        <div class="input-wrap">
                                            <input type="text" class="txt txt-transparent" placeholder="Повторити пароль">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="prt">
                            <a class="link link-white" href="profile.html">Готово</a>
                        </div>
                    </div>
                    <div class="profile-tabs">
                        <ul>
                            <li class="active">Вибрані</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs-content">
            <div class="container container-mini">
                <div class="masterWrapper grid-three grid ">
                    <div class="item">
                        <div class="delete">
                            <i class="fas fa-times"></i>
                        </div>
                        <img src="images/master-1.jpg" alt="">
                        <div class="item-rating">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="item-name">Kharar</div>
                        <div class="item-footer">
                            <div class="item-address">
                                <i class="fas fa-map-marker-alt"></i>
                                пр.Волі (центр)
                            </div>
                            <div class="item-price">
                                Ціна: > 200 грн
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="delete">
                            <i class="fas fa-times"></i>
                        </div>
                        <img src="images/master-1.jpg" alt="">
                        <div class="item-rating">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="item-name">Kharar</div>
                        <div class="item-footer">
                            <div class="item-address">
                                <i class="fas fa-map-marker-alt"></i>
                                пр.Волі (центр)
                            </div>
                            <div class="item-price">
                                Ціна: > 200 грн
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="delete">
                            <i class="fas fa-times"></i>
                        </div>
                        <img src="images/master-1.jpg" alt="">
                        <div class="item-rating">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="item-name">Kharar</div>
                        <div class="item-footer">
                            <div class="item-address">
                                <i class="fas fa-map-marker-alt"></i>
                                пр.Волі (центр)
                            </div>
                            <div class="item-price">
                                Ціна: > 200 грн
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-mini">
            <div class="comment-box">
                <i class="far fa-comment"></i>
            </div>
        </div>
    </div>
    <footer class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cum doloribus eaque,
                        fugit
                        necessitatibus numquam odit perferendis reiciendis. Animi consequatur dicta doloremque earum eos
                        et
                        eum facere illum laudantium, nam nisi officia perferendis placeat quasi sed. Amet atque culpa,
                        cum
                        delectus dolore eos fugit laudantium magnam minus molestias porro provident quam quia reiciendis
                        repellat repellendus repudiandae suscipit tempore vel?
                    </p>
                </div>
                <div class="col">
                    <ul class="footer_nav">
                        <li><a href="/">ГОЛОВНА СТОРІНКА</a></li>
                        <li><a href="search.html">Пошук категорій</a></li>
                        <li><a href="">Список послуг</a></li>
                        <li><a href=""> ТОП майстрів салонів</a></li>
                        <li><a href="">СТОРІНКА ПОШУКУ</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="soc">
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="contact">
                        <p>
                            Напишіть нам: <br/> E-mail: @gmail.com <br/> Тел.(Viber) +380964888869
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="libs/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>