<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>City of loans</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="styles/fonts/fontawesome-free-5.7.2-web/css/all.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
<div id="app" class="contentWrapper black-bg">
    <header class="main_header inner-header">
        <div class="main_header-top">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a href="/" class="logo">
                            <img src="" alt="">
                            <span>Lorem Ipsum</span>
                        </a>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end">
                        <div class="header_links">
                            <a href="">
                                ВХІД
                            </a>/
                            <a href="">РЕЄСТРАЦІЯ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="section inner-section black-bg">
        <div class="container form-container">
            <div class="tab-wrapper">
                <pre>{{isActiveTab}}</pre>
                <ul class="table-list">
                    <li
                            @click="isActiveTab=1"
                            :class="[isActiveTab === 1 ? 'active' : '']">Клієнт
                    </li>
                    <li @click="isActiveTab=2"
                        :class="[isActiveTab === 2 ? 'active' : '']">Салон/мастер
                    </li>
                </ul>
                <div class="tab-content" v-if="isActiveTab === 1">
                    <div class="row formWrapper reverse">
                        <div class="col-md-6">
                            <form action="">
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Ім'я">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="E-mail">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Пароль">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Повторити пароль">
                                </div>
                                <div class="input-wrap input-wrap-inline d-flex align-items-end justify-content-between">
                                    <label>Місто:</label>
                                    <input type="text" class="txt txt-transparent">
                                </div>
                                <div class="btn-bar d-flex align-items-center justify-content-between">
                                    <div class="btn-link">РЕЄСТРАЦІЯ</div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label">Аватар</div>
                            <div class="avatar-box">
                                <img :src="imageSrc" v-if="imageSrc" alt="">
                                <div class="avatar-link"
                                     @click="triggerUpload">Загрузити</div>
                                <input
                                        type="file"
                                        ref="fileInput"
                                        style="display: none;"
                                        accept="image/*"
                                        @change="onFileChange">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" v-if="isActiveTab === 2">
                    <div class="row formWrapper">
                        <div class="col-md-6">
                            <div class="form-label">Аватар</div>
                            <div class="avatar-box">
                                <img :src="imageSrc" v-if="imageSrc" alt="">
                                <div class="avatar-link"
                                     @click="triggerUpload">Загрузити</div>
                                <input
                                        type="file"
                                        ref="fileInput"
                                        style="display: none;"
                                        accept="image/*"
                                        @change="onFileChange">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form action="">
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Ім'я">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="E-mail">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Пароль">
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="txt" placeholder="Повторити пароль">
                                </div>
                                <div class="input-wrap input-wrap-inline d-flex align-items-end justify-content-between">
                                    <label for="city">Місто:</label>
                                    <input id="city" type="text" class="txt txt-transparent">
                                </div>
                                <div class="btn-bar d-flex align-items-center justify-content-end">
                                    <div class="btn-link">РЕЄСТРАЦІЯ</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cum doloribus eaque,
                        fugit
                        necessitatibus numquam odit perferendis reiciendis. Animi consequatur dicta doloremque earum eos
                        et
                        eum facere illum laudantium, nam nisi officia perferendis placeat quasi sed. Amet atque culpa,
                        cum
                        delectus dolore eos fugit laudantium magnam minus molestias porro provident quam quia reiciendis
                        repellat repellendus repudiandae suscipit tempore vel?
                    </p>
                </div>
                <div class="col">
                    <ul class="footer_nav">
                        <li><a href="/">ГОЛОВНА СТОРІНКА</a></li>
                        <li><a href="search.html">Пошук категорій</a></li>
                        <li><a href="">Список послуг</a></li>
                        <li><a href=""> ТОП майстрів салонів</a></li>
                        <li><a href="">СТОРІНКА ПОШУКУ</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="soc">
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="contact">
                        <p>
                            Напишіть нам: <br/> E-mail: @gmail.com <br/> Тел.(Viber) +380964888869
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="libs/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>