<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>City of loans</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="styles/fonts/fontawesome-free-5.7.2-web/css/all.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
<div id="app" class="contentWrapper">
    <div class="overlay" v-if="showAside"></div>
    <header class="main_header inner-header">
        <div class="main_header-top">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <a href="/" class="logo">
                            <img src="" alt="">
                            <span>Lorem Ipsum</span>
                        </a>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center header-title">
                        <h1>ВАШ ПРОВОДНИК В МИРЕ КРАСОТЫ</h1>
                    </div>
                    <div class="col-6 col-md-3 d-flex align-items-center justify-content-end">
                        <div class="header_links">
                            <a href="">
                                ВХІД
                            </a>/
                            <a href="">РЕЄСТРАЦІЯ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="section inner-section">
        <div class="container">
            <div class="section-wrap-aside grid">
                <aside :class="[showAside ? 'show' : '']">
                    <div class="mobile-filter-icon" @click="isShowAside()">
                        <i class="fas fa-filter"></i>
                    </div>
                    <div class="aside-content">
                        <div class="aside-ttl">Фильтр</div>
                        <div class="search-wrap">
                            <input type="text" placeholder="Район">
                            <button>
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="aside-ttl">Ціна</div>
                        <div class="d-flex">
                            <div class="d-flex input-wrap">
                                <label for="min">min</label>
                                <input id="min" type="text" class="mini-input">
                            </div>
                            <div class="d-flex input-wrap">
                                <label for="max">max</label>
                                <input id="max" type="text" class="mini-input">
                            </div>
                        </div>
                        <ul class="table-list">
                            <li>
                                <span>Салон</span>
                                <div class="checkbox_wrap">
                                    <label>
                                        <input value="1" required name="check" type="checkbox"
                                               tabindex="0">
                                        <span></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Мастер</span>
                                <div class="checkbox_wrap">
                                    <label>
                                        <input value="1" required name="check" type="checkbox"
                                               tabindex="0">
                                        <span></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Виїзд</span>
                                <div class="checkbox_wrap">
                                    <label>
                                        <input value="1" required name="check" type="checkbox"
                                               tabindex="0">
                                        <span></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <div class="aside-ttl">Спосіб оплати:</div>
                        <ul class="table-list">
                            <li>
                                <span>Готівка</span>
                                <div class="checkbox_wrap">
                                    <label>
                                        <input value="1" required name="check" type="checkbox"
                                               tabindex="0">
                                        <span></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Картка</span>
                                <div class="checkbox_wrap">
                                    <label>
                                        <input value="1" required name="check" type="checkbox"
                                               tabindex="0">
                                        <span></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <div class="aside-ttl mark-ttl">СПИСОК ПОСЛУГ</div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl" @click="isShow = !isShow">
                                Уход за ногтями
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content" v-if="isShow">
                                Уход за ногтями content
                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Масаж
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Косметологія
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Уход за ресницами
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Уход за бровами
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Депилація
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Услуги визажиста
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Макияж
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="aside-toggle-block">
                            <div class="aside-ttl">
                                Другой уход за собой
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="aside-content">

                            </div>
                        </div>
                        <div class="btn-link">Пошук</div>
                    </div>
                </aside>
                <main>
                    <div class="mapWrapper">
                        <div class="search-top-panel">
                            <div class="searchWrapper">
                                <input type="text" placeholder="Введіть послугу (манікюр, зачіска ...)">
                                <div class="select-wrap">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <select name="" id="">
                                        <option value="" disabled selected>Місто</option>
                                        <option value="">Киев</option>
                                        <option value="">Одесса</option>
                                    </select>
                                </div>
                                <button class="btn-link">Пошук</button>
                            </div>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d245032.94392565291!2d30.42592251350719!3d50.34080739594792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1551034361676"
                                width="100%" height="255" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="masterWrapper grid-three grid">
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/master-1.jpg" alt="">
                            <div class="item-rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="item-name">Kharar</div>
                            <div class="item-footer">
                                <div class="item-address">
                                    <i class="fas fa-map-marker-alt"></i>
                                    пр.Волі (центр) Луцьк, Волинська область
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-box">
                        <i class="far fa-comment"></i>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cum doloribus eaque,
                        fugit
                        necessitatibus numquam odit perferendis reiciendis. Animi consequatur dicta doloremque earum eos
                        et
                        eum facere illum laudantium, nam nisi officia perferendis placeat quasi sed. Amet atque culpa,
                        cum
                        delectus dolore eos fugit laudantium magnam minus molestias porro provident quam quia reiciendis
                        repellat repellendus repudiandae suscipit tempore vel?
                    </p>
                </div>
                <div class="col">
                    <ul class="footer_nav">
                        <li><a href="/">ГОЛОВНА СТОРІНКА</a></li>
                        <li><a href="search.html">Пошук категорій</a></li>
                        <li><a href="">Список послуг</a></li>
                        <li><a href="">ТОП майстрів салонів</a></li>
                        <li><a href="">СТОРІНКА ПОШУКУ</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="soc">
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="contact">
                        <p>
                            Напишіть нам: <br/> E-mail: @gmail.com <br/> Тел.(Viber) +380964888869
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>

<script src="libs/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>