@font-face {
    font-family: HelveticaRoman;
    src: url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot');
    src: local(""),
    url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf') format('truetype');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot');
    src: local(""),
    url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: HelveticaLight;
    src: url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot');
    src: local(""),
    url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf') format('truetype');
}
@font-face {
    font-family: SegoeScript;
    src: url('fonts/SegoeScript/SegoeScript.eot');
    src: local(""),
    url('fonts/SegoeScript/SegoeScript.woff') format('woff'),
    url('fonts/SegoeScript/SegoeScript.ttf') format('truetype');
}

