/* colors */
/* colors */
/*fonts*/
/*Gotham*/
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: HelveticaRoman, sans-serif;
  color: #242424;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w50p {
  width: 50%;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background: #E9E9E9;
}
body.body-hidden {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
}
.container-mini {
  max-width: 940px;
}
.mt40 {
  margin-top: 40px;
}
.gray-bg {
  background: #343434;
}
.bg-red {
  background: #B44A56;
}
.contentWrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 295px;
}
.contentWrapper.black-bg {
  background: #242424;
}
.contentWrapper.black-bg .main_header.inner-header .main_header-top {
  background: #FF5E71;
}
.contentWrapper.black-bg p {
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  font-size: 12px;
  line-height: 1.6;
}
.main_header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.main_header.inner-header {
  height: auto;
}
.main_header.inner-header .main_header-top {
  padding: 4px 15px;
  background: #242424;
}
@media only screen and (max-width: 767px) {
  .main_header.inner-header .main_header-top {
    padding: 10px 0;
    height: 70px;
  }
}
.main_header .logo span {
  font-size: 20px;
  color: #fff;
  font-family: SegoeScript, sans-serif;
}
@media only screen and (max-width: 767px) {
  .main_header .logo span {
    font-size: 12px;
  }
}
.main_header .header_links {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: HelveticaMedium, sans-serif;
}
@media only screen and (max-width: 767px) {
  .main_header .header_links {
    font-size: 13px;
  }
}
.main_header .header_links span {
  text-transform: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: underline;
}
.main_header .header_links a {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
.main_header h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main_header h1 {
    font-size: 28px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .main_header h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.main_header-searchWrapper.searchWrapper {
  border-radius: 40px;
  padding: 24px 15px 20px 50px;
  background: rgba(0, 0, 0, 0.2);
  align-self: flex-end;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper {
    width: 100%;
    padding: 15px 10px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper {
    flex-direction: column;
    border-radius: 10px;
  }
}
.main_header-searchWrapper.searchWrapper input {
  width: 450px;
  height: 40px;
  font-size: 12px;
  padding: 0 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main_header-searchWrapper.searchWrapper input {
    width: 60%;
    height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
  }
}
.main_header-searchWrapper.searchWrapper input::-webkit-input-placeholder,
.main_header-searchWrapper.searchWrapper input::-moz-placeholder {
  color: #CFCFCF;
}
.main_header-searchWrapper.searchWrapper .select-wrap {
  width: 155px;
  height: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main_header-searchWrapper.searchWrapper .select-wrap {
    width: 30%;
    height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper .select-wrap {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
  }
}
.main_header-searchWrapper.searchWrapper .select-wrap:after {
  border-width: 6px 5px 0 5px;
  right: 20px;
}
.main_header-searchWrapper.searchWrapper .select-wrap i {
  left: 10px;
  font-size: 16px;
}
.main_header-searchWrapper.searchWrapper select {
  padding: 0 40px;
  height: 40px;
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper select {
    font-size: 15px;
    padding: 0 30px;
  }
}
.main_header-searchWrapper.searchWrapper .btn-link {
  font-size: 24px;
  padding: 0 25px;
  margin-left: 20px;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .main_header-searchWrapper.searchWrapper .btn-link {
    font-size: 20px;
    padding: 0 15px;
    margin-left: 5px;
  }
}
.main_header-top {
  padding: 15px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .main_header-top {
    padding: 10px 0;
  }
}
.main_header-top h1 {
  font-size: 20px;
  white-space: nowrap;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .main_header-top h1 {
    font-size: 15px;
    margin-top: 10px;
  }
}
.main_header > .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .main_header .header-title {
    order: 2;
  }
}
.btn-link {
  font-family: HelveticaMedium, sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.link.link-accent {
  font-size: 12px;
  text-decoration: underline;
  color: #FF5E71;
}
.link.link-white {
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}
.link.link-with-icon-add {
  padding-left: 25px;
  display: inline-block;
  position: relative;
}
.link.link-with-icon-add i {
  position: absolute;
  left: 0;
  top: -3px;
  color: #64FF24;
  font-size: 16px;
  margin-right: 25px;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-accent {
  height: 40px;
  padding: 0 55px;
  color: #fff;
  font-size: 12px;
  background: #FF5E71;
  border: 2px soldi #FF5E71;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.btn-accent:hover {
  background: transparent;
  color: #FF5E71;
}
.searchWrapper {
  display: inline-flex;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .searchWrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 35px;
  }
}
.searchWrapper input {
  width: 240px;
  height: 20px;
  background: #fff;
  border: none;
  font-size: 6px;
  color: #242424;
  padding: 0 5px;
}
@media only screen and (max-width: 767px) {
  .searchWrapper input {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.searchWrapper input::-webkit-input-placeholder,
.searchWrapper input::-moz-placeholder {
  color: #CFCFCF;
}
.searchWrapper .select-wrap {
  width: 82px;
  height: 20px;
  display: flex;
  background: #FF5E71;
  border: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .searchWrapper .select-wrap {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
}
.searchWrapper .select-wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 2.5px 0 2.5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}
.searchWrapper .select-wrap i {
  color: #fff;
  left: 5px;
  font-size: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.searchWrapper select {
  background: transparent;
  border: none;
  padding: 0 20px;
  height: 20px;
  color: #fff;
  -webkit-appearance: none;
  width: 100%;
  font-size: 8px;
}
@media only screen and (max-width: 767px) {
  .searchWrapper select {
    height: 30px;
    font-size: 12px;
  }
}
.searchWrapper .btn-link {
  font-size: 12px;
  font-family: HelveticaMedium, sans-serif;
  text-decoration: underline;
  text-transform: none;
  color: #242424;
  padding: 0 25px;
  background: transparent;
  border: none;
}
@media only screen and (max-width: 767px) {
  .searchWrapper .btn-link {
    font-size: 16px;
  }
}
.default-section {
  padding: 70px 0 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .default-section {
    padding: 30px 0 15px;
  }
}
.default-section .section_ttl {
  font-size: 40px;
  font-family: HelveticaMedium, sans-serif;
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .default-section .section_ttl {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
.default-section .section_ttl.center {
  text-align: center;
}
.section.inner-section {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .section.inner-section {
    padding-top: 70px;
  }
}
.section.inner-section .comment-box {
  margin-top: 55px;
  margin-bottom: 10px;
}
.section main {
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .section main {
    padding: 0;
  }
}
.section .search-top-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.servicesWrapper {
  grid-template-columns: repeat(5, 200px);
  grid-gap: 50px 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .servicesWrapper {
    grid-template-columns: repeat(5, 160px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .servicesWrapper {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .servicesWrapper {
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    grid-gap: 10px;
  }
}
.servicesWrapper .item {
  position: relative;
  height: 200px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .servicesWrapper .item {
    height: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .servicesWrapper .item {
    height: 150px;
  }
}
.servicesWrapper .item img {
  height: auto;
  width: 100%;
  max-height: 100%;
}
.servicesWrapper .item-title {
  position: absolute;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 7px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  .servicesWrapper .item-title {
    font-size: 14px;
  }
}
.workWrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 80px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .workWrapper {
    grid-gap: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .workWrapper {
    grid-gap: 0 10px;
  }
}
.workWrapper .item-gif {
  height: 400px;
  width: 100%;
  background: #C4C4C4;
  border: 1px solid #707070;
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .workWrapper .item-gif {
    height: 200px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .workWrapper .item-gif {
    height: 160px;
  }
}
.workWrapper .item-ttl {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  font-family: HelveticaMedium, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .workWrapper .item-ttl {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .workWrapper .item-ttl {
    font-size: 15px;
  }
}
.masterWrapper {
  grid-template-columns: repeat(5, 200px);
  grid-gap: 40px 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .masterWrapper {
    grid-template-columns: repeat(5, 160px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masterWrapper {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .masterWrapper {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    justify-content: center;
  }
}
.masterWrapper.grid-three {
  grid-template-columns: repeat(3, 200px);
  grid-gap: 30px 60px;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .masterWrapper.grid-three {
    grid-template-columns: repeat(3, 160px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masterWrapper.grid-three {
    grid-template-columns: repeat(2, 160px);
    grid-gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .masterWrapper.grid-three {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    justify-content: center;
  }
}
.masterWrapper .item {
  height: 200px;
  position: relative;
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.36);
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .masterWrapper .item {
    height: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .masterWrapper .item {
    height: 150px;
  }
}
.masterWrapper .item .delete {
  position: absolute;
  left: 100%;
  top: 0;
}
.masterWrapper .item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.masterWrapper .item-name {
  font-size: 16px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 7px 5px;
}
.masterWrapper .item-rating {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px 1px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.masterWrapper .item-rating i {
  font-size: 8px;
  color: #fff;
  padding: 0 1px;
}
.masterWrapper .item-rating i.active {
  color: #FF5E71;
}
.masterWrapper .item-address {
  font-size: 12px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  padding-left: 22px;
}
.masterWrapper .item-address i {
  font-size: 16px;
  color: #fff;
  left: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.masterWrapper .item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  height: 34px;
  background: -moz-linear-gradient(top, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005d5d5d', endColorstr='#a6ff5e71', GradientType=0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.masterWrapper .item-footer .item-address {
  font-size: 10px;
}
.masterWrapper .item-footer .item-price {
  font-size: 10px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
}
.delete {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete i {
  font-size: 12px;
  color: #242424;
}
.clientWrapper .masterWrapper {
  justify-content: flex-start;
}
.clientWrapper .profile-tabs-content {
  margin-top: 50px;
}
.clientWrapper .formWrapper .input-wrap {
  margin-bottom: 15px;
}
.clientWrapper .formWrapper .input-wrap input {
  width: 100px;
}
.main_footer {
  background: #242424;
  padding: 25px 0 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .main_footer {
    padding: 25px 0;
  }
}
.main_footer p {
  font-family: HelveticaMedium, sans-serif;
  font-size: 13px;
  color: #fff;
  padding-top: 10px;
  line-height: 1.6;
}
.main_footer .footer_nav a {
  display: block;
  font-size: 16px;
  color: #FF5E71;
  text-decoration: underline;
  line-height: 40px;
}
@media only screen and (max-width: 767px) {
  .main_footer .footer_nav a {
    line-height: 30px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .main_footer .footer_nav li {
    text-align: center;
  }
}
.main_footer .soc {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .main_footer .soc {
    justify-content: center;
    margin-top: 10px;
  }
}
.main_footer .soc a {
  padding: 0 12px;
}
.main_footer .soc a i {
  font-size: 36px;
  color: #FF5E71;
}
@media only screen and (max-width: 767px) {
  .main_footer .soc a i {
    font-size: 24px;
  }
}
.main_footer .contact {
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
}
@media only screen and (max-width: 767px) {
  .main_footer .contact {
    text-align: center;
  }
}
.comment-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  background: #FF5E71;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px -30px 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .comment-box {
    margin-right: 15px;
  }
}
.comment-box i {
  color: #fff;
  font-size: 40px;
}
.section-wrap-aside {
  grid-template-columns: 1fr 3fr;
}
@media only screen and (max-width: 767px) {
  .section-wrap-aside {
    grid-template-columns: 1fr;
  }
}
.section-wrap-aside aside {
  background: #FF5E71;
  padding: 15px 35px 30px 10px;
  height: fit-content;
}
@media only screen and (max-width: 767px) {
  .section-wrap-aside aside {
    padding-right: 5px;
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 105;
  }
}
@media only screen and (max-width: 767px) {
  .section-wrap-aside aside .aside-content {
    padding-right: 10px;
    overflow: auto;
    height: 100%;
  }
}
.overlay {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
aside {
  position: relative;
}
aside.show {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}
aside .mobile-filter-icon {
  display: none;
}
@media only screen and (max-width: 767px) {
  aside .mobile-filter-icon {
    position: absolute;
    left: 100%;
    top: 0;
    width: 40px;
    height: 40px;
    background: #FF5E71;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  aside .mobile-filter-icon i {
    color: #fff;
    font-size: 20px;
  }
}
aside .aside-ttl {
  font-size: 12px;
  color: #fff;
  margin-bottom: 15px;
}
aside .aside-ttl.mark-ttl {
  background: #242424;
  text-transform: uppercase;
  margin-left: -10px;
  padding: 5px 10px;
}
aside .search-wrap {
  margin-bottom: 15px;
}
aside .input-wrap {
  margin-right: 25px;
  margin-bottom: 15px;
}
aside .input-wrap label {
  font-size: 10px;
  font-family: HelveticaLight, sans-serif;
  margin-right: 10px;
  color: #fff;
}
aside .input-wrap input {
  width: 30px;
  height: 15px;
  background: #fff;
  border: none;
}
aside .aside-toggle-block .aside-ttl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
aside .aside-toggle-block .aside-ttl i {
  font-size: 16px;
  color: #fff;
}
aside .btn-link {
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}
.search-wrap {
  height: 20px;
  width: 100%;
  display: flex;
}
.search-wrap input {
  height: 100%;
  width: calc(100% - 32px);
  background: #fff;
  padding: 0 5px;
  font-size: 8px;
  border: none;
}
.search-wrap input::-moz-placeholder {
  color: #CFCFCF;
}
.search-wrap input:-moz-placeholder {
  color: #CFCFCF;
}
.search-wrap input:-ms-input-placeholder {
  color: #CFCFCF;
}
.search-wrap input::-webkit-input-placeholder {
  color: #CFCFCF;
}
.search-wrap button {
  width: 32px;
  height: 100%;
  background: #242424;
  border: 1px solid #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrap button i {
  font-size: 10px;
  color: #fff;
}
.checkbox_wrap {
  position: relative;
}
.checkbox_wrap label {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  height: 15px;
}
.checkbox_wrap label span {
  display: block;
  width: 15px;
  height: 15px;
  color: inherit;
  font-size: 13px;
}
.checkbox_wrap label span:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  margin: 0;
  border: 1px solid #CFCFCF;
  background-color: white;
  text-align: center;
}
.checkbox_wrap label span:before {
  content: '\f00c';
  transition: all 0.4s;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translate(0, -300%);
  font-family: FontAwesome, sans-serif;
  color: #FF5E71;
  z-index: 2;
}
.checkbox_wrap input[type=checkbox],
.checkbox_wrap input[type=radio] {
  display: inline;
  cursor: pointer;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all 0.3s;
  overflow: hidden;
}
.checkbox_wrap input[type=checkbox]:checked + span:before,
.checkbox_wrap input[type=radio]:checked + span:before {
  transform: translate(0, -50%);
}
.table-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.table-list li > span {
  font-size: 12px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
}
.mapWrapper {
  margin: 30px 0;
}
@media only screen and (max-width: 767px) {
  .mapWrapper {
    margin: 15px 0 30px;
  }
}
.form-container {
  max-width: 560px;
  margin-top: 95px;
}
@media only screen and (max-width: 767px) {
  .form-container {
    margin-top: 35px;
  }
}
.tab-wrapper .table-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tab-wrapper .table-list li {
  height: 45px;
  background: #FF5E71;
  color: #fff;
  font-size: 18px;
  font-family: HelveticaMedium, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.tab-wrapper .table-list li.active {
  background: #fff;
  color: #FF5E71;
}
.tab-wrapper .table-list li.active:hover {
  background: #fff;
  color: #FF5E71;
}
.tab-wrapper .table-list li:hover {
  background: #ff919e;
}
.tab-wrapper .tab-content {
  padding: 30px 0;
}
.tab-wrapper .formWrapper form {
  margin-top: 15px;
}
@media only screen and (max-width: 767px) {
  .tab-wrapper .formWrapper.reverse {
    flex-direction: column-reverse;
  }
}
.formWrapper {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .formWrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.formWrapper .col-6 {
  padding: 0;
}
.formWrapper .input-wrap {
  margin-bottom: 25px;
  max-width: 250px;
  padding-right: 40px;
}
@media only screen and (max-width: 767px) {
  .formWrapper .input-wrap {
    max-width: 100%;
    padding: 0;
  }
}
.formWrapper .input-wrap.relative-block {
  position: relative;
}
.formWrapper .input-wrap.relative-block .link-abs-left {
  right: calc(100% + 10px);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 8px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .formWrapper .input-wrap.relative-block .link-abs-left {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: block;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    margin-top: 5px;
  }
}
.formWrapper .input-wrap.with-icon {
  position: relative;
  padding-left: 20px;
}
.formWrapper .input-wrap.with-icon i {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.formWrapper .input-wrap .txt {
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font-size: 10px;
}
.formWrapper .input-wrap .txt::-moz-placeholder {
  color: #CFCFCF;
}
.formWrapper .input-wrap .txt:-moz-placeholder {
  color: #CFCFCF;
}
.formWrapper .input-wrap .txt:-ms-input-placeholder {
  color: #CFCFCF;
}
.formWrapper .input-wrap .txt::-webkit-input-placeholder {
  color: #CFCFCF;
}
.formWrapper .input-wrap .txt.fz20 {
  font-size: 20px;
  width: 160px;
}
.formWrapper .input-wrap label {
  font-size: 10px;
  font-family: HelveticaLight, sans-serif;
  color: #fff;
}
.formWrapper .input-wrap .txt-transparent {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.formWrapper .input-wrap.input-wrap-inline .txt-transparent {
  text-align: center;
  max-width: 140px;
}
.formWrapper .form-label {
  color: #fff;
  font-family: HelveticaLight, sans-serif;
  font-size: 12px;
}
.formWrapper .btn-link {
  text-transform: none;
}
.avatar-box {
  width: 182px;
  height: 182px;
  border: 1px solid #707070;
  position: relative;
}
.avatar-box img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.avatar-box .avatar-link {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.59);
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*PROFILE*/
.profileSearch {
  padding: 10px 0 15px;
}
.profileSearch .btn-link {
  color: #fff;
}
.profileWrapper {
  display: grid;
  grid-template-columns: 315px 2fr;
  grid-template-rows: 3fr;
}
@media only screen and (max-width: 767px) {
  .profileWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
  }
}
.profileWrapper.clientBox {
  grid-template-columns: 280px 2fr;
  grid-template-rows: auto;
}
.profileWrapper.clientBox .profile-info {
  position: relative;
  height: 155px;
}
.profileWrapper.clientBox .profile-info .profile-name {
  margin-bottom: 20px;
}
.profileWrapper.clientBox .profile-info .profile-tabs {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.profileWrapper.clientBox .profile-info .profile-tabs ul li {
  grid-column-start: 3;
}
.profileWrapper .avatar-box {
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.36);
  border: none;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
@media only screen and (max-width: 767px) {
  .profileWrapper .avatar-box {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: 15px;
  }
}
.profileWrapper .avatar-box .avatar-link {
  height: 52px;
  font-size: 20px;
  cursor: pointer;
}
.profileWrapper .avatar-box .avatar-link span {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
.profileWrapper .avatar-box.big {
  height: 315px;
  width: 100%;
  max-width: 315px;
}
@media only screen and (max-width: 767px) {
  .profileWrapper .avatar-box.big {
    margin: 0 auto 15px;
  }
}
.profileWrapper .avatar-box.accent .avatar-link {
  background: #FF5E71;
}
.profileWrapper .avatar-box.client-profile {
  width: 280px;
  height: 155px;
}
.profileWrapper .item-row {
  margin-bottom: 25px;
}
.profileWrapper .profile-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 14px 35px;
  grid-column: 2 / -1;
  grid-row: auto;
}
@media only screen and (max-width: 767px) {
  .profileWrapper .profile-head {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 0 15px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .profileWrapper .profile-head .second-prt {
    flex-basis: 100%;
    order: 3;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .profileWrapper .profile-head .second-prt .input-wrap {
    width: 100%;
  }
  .profileWrapper .profile-head .second-prt .input-wrap input {
    width: 100%;
  }
}
.profileWrapper i {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}
.profileWrapper .icon-block {
  margin: 10px 0 15px;
}
.profileWrapper .icon-check-block {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.profileWrapper .icon-check-block .pl {
  color: #CFCFCF;
  font-size: 10px;
  font-family: HelveticaLight, sans-serif;
}
.profileWrapper .icon-check-block label {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.profileWrapper .icon-check-block label input {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.profileWrapper .icon-check-block label input:checked + span {
  background: #FF5E71;
}
.profileWrapper .icon-check-block label span {
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.profileWrapper .icon-check-block label span i {
  margin: 0;
}
.profileWrapper .item-rating {
  margin-bottom: 10px;
}
.profileWrapper .item-rating i {
  font-size: 10px;
  margin-right: 2px;
}
.profileWrapper .item-rating i.active {
  color: #FF5E71;
}
.profileWrapper .profile-time {
  margin-bottom: 15px;
}
.profileWrapper .profile-time i {
  margin-right: 5px;
}
.profileWrapper .profile-time .link {
  font-size: 8px;
  margin-top: 5px;
}
.profileWrapper .profile-time .input-wrap {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 11px;
  font-family: HelveticaMedium, sans-serif;
  margin-bottom: 5px;
}
.profileWrapper .profile-time input {
  width: 25px !important;
  padding: 0;
}
.profileWrapper h3 {
  font-size: 20px;
  font-family: HelveticaMedium, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
}
.profileWrapper .input-wrap {
  max-width: inherit;
  padding: 0;
  margin-bottom: 10px;
}
.profileWrapper .input-wrap input {
  padding: 0 !important;
}
.profile-name {
  font-size: 20px;
  font-family: HelveticaMedium, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.profile-address {
  padding-left: 20px;
  position: relative;
}
.profile-address i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.profile-address .profile-label {
  margin-right: 5px;
}
.profile-address .link {
  font-size: 11px;
}
.profile-address input {
  width: 110px !important;
}
.profile-address input.half {
  width: 40px !important;
  margin-right: 10px;
}
.profile-label {
  font-size: 11px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
}
.profile-week {
  display: flex;
  margin-top: 3px;
}
.profile-week span {
  font-size: 11px;
  color: #fff;
  font-family: HelveticaLight, sans-serif;
  padding: 1px;
  display: inline-block;
  margin-right: 1px;
}
.profile-week span.act {
  background: #FF5E71;
}
.profile-footer {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}
@media only screen and (max-width: 767px) {
  .profile-footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
.profile-footer textarea {
  height: 100px;
  width: 100%;
  resize: none;
  background: #fff;
  padding: 5px 20px 7px 30px;
  margin-left: 3px;
}
.profile-footer textarea + .link {
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px 20px 0 0;
}
.profile-descr {
  background: #fff;
  padding: 5px 20px 7px 30px;
  margin-left: 3px;
  max-height: 100px;
  overflow: hidden;
}
.profile-descr p {
  color: #242424 !important;
  font-size: 12px;
  line-height: 1.6;
}
.profile-descr + .link {
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px 20px 0 0;
}
.profile-tabs {
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .profile-tabs {
    grid-column: 1 / -1;
    padding-top: 15px;
  }
}
.profile-tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.profile-tabs ul li {
  font-size: 18px;
  font-family: HelveticaMedium, sans-serif;
  color: #FF5E71;
  border-bottom: 4px solid #FF5E71;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.profile-tabs ul li.active {
  color: #fff;
  border-bottom-color: #fff;
}
.services-tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4fr;
}
@media only screen and (max-width: 767px) {
  .services-tabs {
    display: block;
  }
}
.services-tabs .tab-li {
  font-size: 16px;
  color: #FF5E71;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .services-tabs .tab-li {
    font-size: 14px;
  }
}
.services-tabs .tab-li[data-index='1'] {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.services-tabs .tab-li[data-index='2'] {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.services-tabs .tab-li[data-index='3'] {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.services-tabs .tab-li[data-index='4'] {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.services-tabs .tab-li[data-index='5'] {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.services-tabs .tab-li[data-index='6'] {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.services-tabs .tab-li.active {
  color: #fff;
}
.services-tabs .tab-li.active i {
  color: #FF5E71;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.services-tabs .tab-li i {
  font-size: 16px;
  color: #fff;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-tabs .services-tab-content[data-index='1'] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.services-tabs .services-tab-content[data-index='2'] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.services-tabs .services-tab-content[data-index='3'] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.services-tabs .services-tab-content[data-index='4'] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.services-tabs .services-tab-content[data-index='5'] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.services-tabs .services-tab-content[data-index='6'] {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}
.services-tabs .services-tab-content .container-mini {
  padding: 30px 140px 30px 70px;
}
@media only screen and (max-width: 767px) {
  .services-tabs .services-tab-content .container-mini {
    padding: 30px 15px;
  }
}
.profile-tabs-content {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 20px;
}
.list-info li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.list-info li .ttl {
  font-size: 14px;
  font-family: HelveticaMedium, sans-serif;
  color: #fff;
}
.list-info li .txt {
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  background: transparent;
  height: 20px;
}
.list-info li .fas {
  font-size: 16px;
  left: calc(100% + 10px);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.list-info li .fas.fa-minus {
  color: #FF001E;
}
.list-info li .fas.fa-plus {
  color: #64FF24;
}
.list-info li .right-label {
  font-size: 8px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  left: calc(100% + 40px);
}
.list-info .text-field {
  font-size: 15px;
  font-family: HelveticaLight, sans-serif;
  height: 20px;
  width: 100px;
  background: #fff;
  text-align: center;
}
.gallery-block {
  margin-top: 5px;
}
.gallery-block .container {
  padding: 50px 15px 50px;
}
.photo-gallery {
  grid-template-columns: repeat(3, 250px);
  grid-gap: 40px;
  justify-content: space-between;
  grid-template-rows: 250px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-gallery {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    justify-content: center;
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 767px) {
  .photo-gallery.edit-gallery {
    grid-gap: 40px;
  }
}
.photo-gallery .item {
  position: relative;
  height: 250px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-gallery .item {
    height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .photo-gallery .item {
    height: 150px;
  }
}
.photo-gallery .item .delete {
  position: absolute;
  left: 100%;
  top: 0;
}
.photo-gallery .item img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
/*REVIEWS*/
.reviewsWrapper .btn-bar {
  margin: 25px 0 35px;
}
.reviewsWrapper .item {
  margin-bottom: 20px;
}
.reviewsWrapper .item-content {
  height: 165px;
  position: relative;
  padding: 0 0 0 303px;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-content {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.reviewsWrapper .item-content.show {
  height: auto;
}
.reviewsWrapper .item-avatar-wrap {
  position: absolute;
  left: -117px;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap {
    position: relative;
    left: auto;
    top: auto;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto;
    margin-bottom: 10px;
  }
}
.reviewsWrapper .item-avatar-wrap .item-address {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap .item-address {
    position: relative;
    bottom: auto;
    right: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0 10px;
  }
}
.reviewsWrapper .item-avatar-wrap .item-info {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap .item-info {
    position: relative;
    top: auto;
    right: auto;
    overflow: visible;
    flex-basis: calc(100% - 80px);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.reviewsWrapper .item-avatar-wrap .item-info .blur {
  filter: blur(5px);
  position: absolute;
  width: calc(100% + 6px);
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: 17px;
  z-index: 0;
  background-position: top right;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap .item-info .blur {
    display: none;
  }
}
.reviewsWrapper .item-avatar-wrap .item-info .name {
  height: 34px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  align-items: center;
  padding: 0 10px;
  display: inline-flex;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap .item-info .name {
    height: auto;
    padding: 15px 10px 0;
  }
}
.reviewsWrapper .item-avatar-wrap .item-info .item-rating {
  background: rgba(36, 36, 36, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar-wrap .item-info .item-rating {
    align-self: baseline;
  }
}
.reviewsWrapper .item-avatar-wrap .item-info .item-rating i {
  font-size: 10px;
  color: #fff;
  margin-right: 5px;
}
.reviewsWrapper .item-avatar-wrap .item-info .item-rating i.active {
  color: #FF5E71;
}
.reviewsWrapper .item-avatar {
  width: 420px;
  height: 165px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-avatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    rid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
.reviewsWrapper .item-text {
  height: 100%;
  padding: 20px 20px 20px 40px;
  background: #343434;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item-text {
    padding: 10px;
    border-radius: 0 15px;
    flex-basis: calc(100% - 90px);
  }
}
.reviewsWrapper .item-text .wrap {
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
.reviewsWrapper .item-text p {
  line-height: 1.8;
  margin-bottom: 15px;
}
.reviewsWrapper .item-text .show-more {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0px;
  color: #fff;
  font-size: 16px;
}
.reviewsWrapper .item.item-review .item-text {
  padding: 7px 20px 7px 40px;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item.item-review .item-text {
    padding: 10px;
    border-radius: 0;
  }
}
.reviewsWrapper .item.item-review .item-text .item-top {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.reviewsWrapper .item.item-review .item-text .item-top label {
  font-size: 12px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  margin-right: 30px;
}
.reviewsWrapper .item.item-review .item-text .item-top .item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewsWrapper .item.item-review .item-text .item-top .item-rating i {
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px #FF5E71;
  margin-right: 5px;
}
.reviewsWrapper .item.item-review .item-text .item-top .item-rating i.active {
  color: #FF5E71;
}
.reviewsWrapper .item.item-review .item-text .txt {
  width: 100%;
  height: 110px;
  background: #fff;
  font-size: 12px;
}
.reviewsWrapper .item.item-review .item-text .btn-bar {
  text-align: right;
  margin: 0;
}
.reviewsWrapper .item.item-review .item-text .btn-bar .link {
  font-size: 11px;
  color: #fff;
  font-family: HelveticaMedium, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .reviewsWrapper .item.item-review .item-text .btn-bar .link {
    font-size: 14px;
    margin-top: 5px;
  }
}
.reviewsWrapper .item.item-review .item-text .btn-bar .link:hover {
  text-decoration: none;
}
.editWrapper {
  padding: 35px 0 10px;
}
.editWrapper .formWrapper {
  max-width: 520px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .editWrapper .formWrapper {
    margin: 0;
  }
  .editWrapper .formWrapper .col-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.editWrapper .formWrapper .input-wrap {
  max-width: 210px;
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  .editWrapper .formWrapper .input-wrap {
    max-width: 100%;
  }
}
.editWrapper .btn-link {
  font-size: 12px;
}
/*# sourceMappingURL=styles.css.map */