@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  background: @bg;
  height: 100%;
  min-height: 100%;
  background: @bg;

  &.body-hidden {
    overflow: hidden;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.container-mini {
  max-width: 940px;
}

.mt40 {
  margin-top: 40px;
}

.gray-bg {
  background: @gray-bg;
}

.bg-red {
  background: @darkRed;
}

.contentWrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 295px;

  &.black-bg {
    background: @text;

    .main_header {
      &.inner-header {
        .main_header-top {
          background: @accent;
        }
      }
    }

    p {
      color: @white;
      font-family: @HM;
      font-size: 12px;
      line-height: 1.6;
    }
  }
}

.main_header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  &.inner-header {
    height: auto;

    .main_header-top {
      padding: 4px 15px;
      background: @text;
      @media @mobile {
        padding: 10px 0;
        height: 70px;
      }
    }
  }

  .logo {
    span {
      font-size: 20px;
      color: @white;
      font-family: @SS;
      @media @mobile {
        font-size: 12px;
      }
    }
  }

  .header_links {
    font-size: 16px;
    color: @white;
    text-transform: uppercase;
    font-family: @HM;
    @media @mobile {
      font-size: 13px;
    }

    span {
      text-transform: none;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      text-decoration: underline;
    }

    a {
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
  }

  h1 {
    font-size: 40px;
    color: @white;
    text-transform: uppercase;
    margin-bottom: 80px;
    @media @tablet {
      font-size: 28px;
      margin-bottom: 50px;
    }
    @media @mobile {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &-searchWrapper {
    &.searchWrapper {
      border-radius: 40px;
      padding: 24px 15px 20px 50px;
      background: rgba(0, 0, 0, .2);
      align-self: flex-end;
      @media @tablet, @mobile {
        width: 100%;
        padding: 15px 10px;
        border-radius: 20px;
      }
      @media @mobile {
        flex-direction: column;
        border-radius: 10px;
      }

      input {
        width: 450px;
        height: 40px;
        font-size: 12px;
        padding: 0 20px;
        @media @tablet {
          width: 60%;
          height: 35px;
        }
        @media @mobile {
          width: 100%;
          height: 35px;
          margin-bottom: 10px;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: @placeholder;
        }
      }

      .select-wrap {
        width: 155px;
        height: 40px;
        @media @tablet {
          width: 30%;
          height: 35px;
        }
        @media @mobile {
          width: 100%;
          height: 35px;
          margin-bottom: 10px;
        }

        &:after {
          border-width: 6px 5px 0 5px;
          right: 20px;
        }

        i {
          left: 10px;
          font-size: 16px;
        }
      }

      select {
        padding: 0 40px;
        height: 40px;
        font-size: 16px;
        @media @tablet, @mobile {
          font-size: 15px;
          padding: 0 30px;
        }
      }

      .btn-link {
        font-size: 24px;
        padding: 0 25px;
        margin-left: 20px;
        color: @white;
        @media @tablet, @mobile {
          font-size: 20px;
          padding: 0 15px;
          margin-left: 5px;
        }
      }
    }

  }

  &-top {
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    @media @mobile {
      padding: 10px 0;
    }

    h1 {
      font-size: 20px;
      white-space: nowrap;
      margin: 0;
      @media @mobile {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }

  & > .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-title {
    @media @mobile {
      order: 2;
    }
  }
}

.btn-link {
  font-family: @HM;
  color: @white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.link {
  cursor: pointer;

  &.link-accent {
    font-size: 12px;
    text-decoration: underline;
    color: @accent;
  }

  &.link-white {
    color: @white;
    font-size: 12px;
    text-decoration: underline;
  }

  &.link-with-icon-add {
    padding-left: 25px;
    display: inline-block;
    position: relative;

    i {
      position: absolute;
      left: 0;
      top: -3px;
      color: @green;
      font-size: 16px;
      margin-right: 25px;
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn-accent {
    height: 40px;
    padding: 0 55px;
    color: @white;
    font-size: 12px;
    background: @accent;
    border: 2px soldi @accent;
    .transition(all .4s);

    &:hover {
      background: transparent;
      color: @accent;
    }
  }
}

.searchWrapper {
  display: inline-flex;
  position: relative;
  @media @mobile {
    flex-direction: column;
    width: 100%;
    padding: 0 35px;
  }

  input {
    width: 240px;
    height: 20px;
    background: @white;
    border: none;
    font-size: 6px;
    color: @text;
    padding: 0 5px;
    @media @mobile {
      width: 100%;
      height: 30px;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: @placeholder;
    }
  }

  .select-wrap {
    width: 82px;
    height: 20px;
    display: flex;
    background: @accent;
    border: none;
    position: relative;
    @media @mobile {
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 2.5px 0 2.5px;
      border-color: @white transparent transparent transparent;
      .pos-centerY;
      right: 10px;
    }

    i {
      color: @white;
      left: 5px;
      font-size: 8px;
      .pos-centerY;
    }
  }

  select {
    background: transparent;
    border: none;
    padding: 0 20px;
    height: 20px;
    color: @white;
    -webkit-appearance: none;
    width: 100%;
    font-size: 8px;
    @media @mobile {
      height: 30px;
      font-size: 12px;
    }
  }

  .btn-link {
    font-size: 12px;
    font-family: @HM;
    text-decoration: underline;
    text-transform: none;
    color: @text;
    padding: 0 25px;
    background: transparent;
    border: none;
    @media @mobile {
      font-size: 16px;
    }
  }
}

.default-section {
  padding: 70px 0 20px;
  @media @tablet, @mobile {
    padding: 30px 0 15px;
  }

  .section_ttl {
    font-size: 40px;
    font-family: @HM;
    margin-bottom: 60px;
    @media @tablet, @mobile {
      font-size: 25px;
      margin-bottom: 30px;
    }

    &.center {
      text-align: center;
    }
  }
}

.section {
  &.inner-section {
    padding-top: 40px;
    @media @mobile {
      padding-top: 70px;
    }

    .comment-box {
      margin-top: 55px;
      margin-bottom: 10px;
    }
  }

  main {
    padding: 0 10px;
    @media @mobile {
      padding: 0;
    }
  }

  .search-top-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.servicesWrapper {
  grid-template-columns: repeat(5, 200px);
  grid-gap: 50px 20px;
  @media @desktop {
    grid-template-columns: repeat(5, 160px);
  }
  @media @tablet {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
  @media @mobile {
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    grid-gap: 10px;
  }

  .item {
    position: relative;
    height: 200px;
    @media @desktop, @tablet {
      height: 160px;
    }
    @media @mobile {
      height: 150px;
    }

    img {
      height: auto;
      width: 100%;
      max-height: 100%;
    }

    &-title {
      position: absolute;
      bottom: 0;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 7px;
      font-size: 16px;
      color: @white;
      width: 100%;
      background: rgba(0, 0, 0, .15);
      @media @mobile {
        font-size: 14px;
      }
    }
  }
}

.workWrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 80px;
  @media @tablet {
    grid-gap: 0 20px
  }
  @media @mobile {
    grid-gap: 0 10px;
  }

  .item {
    &-gif {
      height: 400px;
      width: 100%;
      background: #C4C4C4;
      border: 1px solid @gray;
      margin-bottom: 35px;
      @media @tablet, @mobile {
        height: 200px;
        margin-bottom: 15px;
      }
      @media @mobile {
        height: 160px;
      }
    }

    &-ttl {
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      font-family: @HM;
      @media @tablet, @mobile {
        font-size: 18px;
      }
      @media @mobile {
        font-size: 15px;
      }
    }
  }
}

.masterWrapper {
  grid-template-columns: repeat(5, 200px);
  grid-gap: 40px 20px;
  @media @desktop {
    grid-template-columns: repeat(5, 160px);
  }
  @media @tablet {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
  @media @mobile {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    justify-content: center;
  }

  &.grid-three {
    grid-template-columns: repeat(3, 200px);
    grid-gap: 30px 60px;
    justify-content: space-between;
    @media @desktop, @tablet {
      grid-template-columns: repeat(3, 160px);
    }
    @media @tablet {
      grid-template-columns: repeat(2, 160px);
      grid-gap: 20px;
      justify-content: center;
    }
    @media @mobile {
      grid-template-columns: repeat(2, 150px);
      grid-gap: 10px;
      justify-content: center;
    }
  }

  .item {
    height: 200px;
    position: relative;
    box-shadow: 3px 4px 1px rgba(0, 0, 0, .36);
    @media @desktop, @tablet {
      height: 160px;
    }
    @media @mobile {
      height: 150px;
    }

    .delete {
      position: absolute;
      left: 100%;
      top: 0;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }

    &-name {
      font-size: 16px;
      color: @white;
      font-family: @HM;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 7px 5px;
    }

    &-rating {
      background: rgba(0, 0, 0, .8);
      padding: 0 10px 1px;
      height: 15px;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;

      i {
        font-size: 8px;
        color: @white;
        padding: 0 1px;

        &.active {
          color: @accent;
        }
      }
    }

    &-address {

      font-size: 12px;
      color: @white;
      font-family: @HM;
      padding-left: 22px;

      i {
        font-size: 16px;
        color: @white;
        left: 5px;
        .pos-centerY;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 0;
      height: 34px;
      background: -moz-linear-gradient(top, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(93, 93, 93, 0) 0%, rgba(255, 94, 113, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005d5d5d', endColorstr='#a6ff5e71', GradientType=0);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .item-address {
        font-size: 10px;
      }

      .item-price {
        font-size: 10px;
        color: @white;
        font-family: @HM;
      }
    }
  }
}

.delete {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .63);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 12px;
    color: @text;
  }
}

.clientWrapper {
  .masterWrapper {
    justify-content: flex-start;
  }

  .profile-tabs-content {
    margin-top: 50px;
  }

  .formWrapper {
    .input-wrap {
      margin-bottom: 15px;

      input {
        width: 100px;
      }
    }
  }
}

.main_footer {
  background: @text;
  padding: 25px 0 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @media @mobile {
    padding: 25px 0;
  }

  p {
    font-family: @HM;
    font-size: 13px;
    color: @white;
    padding-top: 10px;
    line-height: 1.6;
  }

  .footer_nav {
    a {
      display: block;
      font-size: 16px;
      color: @accent;
      text-decoration: underline;
      line-height: 40px;
      @media @mobile {
        line-height: 30px;
        font-size: 13px;
      }
    }

    li {
      @media @mobile {
        text-align: center;
      }
    }
  }

  .soc {
    display: flex;
    @media @mobile {
      justify-content: center;
      margin-top: 10px;
    }

    a {
      padding: 0 12px;

      i {
        font-size: 36px;
        color: @accent;
        @media @mobile {
          font-size: 24px;
        }
      }
    }
  }

  .contact {
    color: @white;
    font-family: @HM;
    @media @mobile {
      text-align: center;
    }
  }
}

.comment-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
  background: @accent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px -30px 0 auto;
  @media @tablet, @mobile {
    margin-right: 15px;
  }

  i {
    color: @white;
    font-size: 40px;
  }
}

.section-wrap-aside {
  grid-template-columns: 1fr 3fr;
  @media @mobile {
    grid-template-columns: 1fr;
  }

  aside {
    background: @accent;
    padding: 15px 35px 30px 10px;
    height: fit-content;
    @media @mobile {
      padding-right: 5px;
      position: fixed;
      left: 0;
      top: 70px;
      height: ~'calc(100% - 70px)';
      .transform(translateX(-100%));
      .transition(all .4s);
      z-index: 105;
    }

    .aside-content {
      @media @mobile {
        padding-right: 10px;
        overflow: auto;
        height: 100%;
      }
    }
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

aside {
  position: relative;

  &.show {
    .transform(translateX(0%));
    box-shadow: 0 0px 4px rgba(0, 0, 0, .4);
  }

  .mobile-filter-icon {
    display: none;
    @media @mobile {
      position: absolute;
      left: 100%;
      top: 0;
      width: 40px;
      height: 40px;
      background: @accent;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: @white;
        font-size: 20px;
      }
    }
  }

  .aside-ttl {
    font-size: 12px;
    color: @white;
    margin-bottom: 15px;

    &.mark-ttl {
      background: @text;
      text-transform: uppercase;
      margin-left: -10px;
      padding: 5px 10px;
    }
  }

  .search-wrap {
    margin-bottom: 15px;
  }

  .input-wrap {
    margin-right: 25px;
    margin-bottom: 15px;

    label {
      font-size: 10px;
      font-family: @HL;
      margin-right: 10px;
      color: @white;
    }

    input {
      width: 30px;
      height: 15px;
      background: @white;
      border: none;
    }
  }

  .aside-toggle-block {
    .aside-ttl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      i {
        font-size: 16px;
        color: @white;
      }
    }
  }

  .btn-link {
    font-size: 12px;
    color: @white;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
  }
}

.search-wrap {
  height: 20px;
  width: 100%;
  display: flex;

  input {
    height: 100%;
    width: ~'calc(100% - 32px)';
    background: @white;
    .placeholder(@placeholder);
    padding: 0 5px;
    font-size: 8px;
    border: none;
  }

  button {
    width: 32px;
    height: 100%;
    background: @text;
    border: 1px solid @text;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 10px;
      color: @white;
    }
  }
}

.checkbox_wrap {
  position: relative;

  label {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    height: 15px;

    span {
      display: block;
      width: 15px;
      height: 15px;
      color: inherit;
      font-size: 13px;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        margin: 0;
        border: 1px solid @placeholder;
        background-color: white;
        text-align: center;
      }

      &:before {
        content: '\f00c';
        transition: all 0.4s;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 3px;
        transform: translate(0, -300%);
        font-family: FontAwesome, sans-serif;
        color: @accent;
        z-index: 2;
      }
    }
  }

  input[type=checkbox], input[type=radio] {
    display: inline;
    cursor: pointer;
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: all 0.3s;
    overflow: hidden;
  }

  input[type=checkbox]:checked + span:before, input[type=radio]:checked + span:before {
    transform: translate(0, -50%);
  }
}

.table-list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;

    & > span {
      font-size: 12px;
      color: @white;
      font-family: @HM;
    }
  }
}

.mapWrapper {
  margin: 30px 0;
  @media @mobile {
    margin: 15px 0 30px;
  }
}

.form-container {
  max-width: 560px;
  margin-top: 95px;
  @media @mobile {
    margin-top: 35px;
  }
}

.tab-wrapper {
  .table-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    li {
      height: 45px;
      background: @accent;
      color: @white;
      font-size: 18px;
      font-family: @HM;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      .transition(all 0.4s);

      &.active {
        background: @white;
        color: @accent;

        &:hover {
          background: @white;
          color: @accent;
        }
      }

      &:hover {
        background: lighten(@accent, 10%);
      }
    }
  }

  .tab-content {
    padding: 30px 0;
  }
  .formWrapper {
    form {
      margin-top: 15px;
    }
    &.reverse {
      @media @mobile {
        flex-direction: column-reverse;
      }
    }
  }
}

.formWrapper {
  margin: 0;
  @media @mobile {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-6 {
    padding: 0;
  }

  .input-wrap {
    margin-bottom: 25px;
    max-width: 250px;
    padding-right: 40px;
    @media @mobile {
      max-width: 100%;
      padding: 0;
    }

    &.relative-block {
      position: relative;

      .link-abs-left {
        right: ~"calc(100% + 10px)";
        .pos-centerY;
        font-size: 8px;
        color: @white;
        font-family: @HM;
        white-space: nowrap;
        @media @mobile {
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          display: block;
          .transform(translateY(0));
          margin-top: 5px;
        }
      }
    }

    &.with-icon {
      position: relative;
      padding-left: 20px;

      i {
        position: absolute;
        left: 0;
        .pos-centerY;
      }

      input {
        //padding-left: 20px;
      }
    }

    .txt {
      width: 100%;
      height: 25px;
      padding: 0 10px;
      font-size: 10px;
      .placeholder(@placeholder);

      &.fz20 {
        font-size: 20px;
        width: 160px;
      }
    }

    label {
      font-size: 10px;
      font-family: @HL;
      color: @white;
    }

    .txt-transparent {
      background: transparent;
      border: none;
      border-bottom: 1px solid @white;
      color: @white;
    }

    &.input-wrap-inline {
      .txt-transparent {
        text-align: center;
        max-width: 140px;
      }
    }
  }

  .form-label {
    color: @white;
    font-family: @HL;
    font-size: 12px;
  }

  .btn-link {
    text-transform: none;
  }
  .avatar-box {
    //@media @mobile {
    //  margin: 0 auto;
    //}
  }
}

.avatar-box {
  width: 182px;
  height: 182px;
  border: 1px solid @gray;
  position: relative;

  img {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  .avatar-link {
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .59);
    color: @white;
    font-family: @HM;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*PROFILE*/
.profileSearch {
  padding: 10px 0 15px;

  .btn-link {
    color: @white;
  }
}

.profileWrapper {
  display: grid;
  //grid-template-columns: 1fr 2fr;
  //grid-template-rows: 315px auto;
  grid-template-columns: 315px 2fr;
  grid-template-rows: 3fr;
  @media @mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
  }
  &.clientBox {
    grid-template-columns: 280px 2fr;
    grid-template-rows: auto;

    .profile-info {
      position: relative;
      height: 155px;

      .profile-name {
        margin-bottom: 20px;
      }

      .profile-tabs {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;

        ul {
          li {
            grid-column-start: 3;
          }
        }
      }
    }
  }

  .avatar-box {
    box-shadow: 3px 4px 1px rgba(0, 0, 0, .36);
    border: none;

    grid-column: ~'1 / 2';
    grid-row: ~'1 / 4';

    @media @mobile {
      grid-column: ~'1 / -1';
      grid-row: ~'1 / 2';
      margin-bottom: 15px;
    }
    .avatar-link {
      height: 52px;
      font-size: 20px;
      cursor: pointer;

      span {
        font-size: inherit;
        color: inherit;
        font-family: inherit;
      }
    }

    &.big {
      height: 315px;
      width: 100%;
      max-width: 315px;
      @media @mobile {
        margin: 0 auto 15px;
      }
    }

    &.accent {
      .avatar-link {
        background: @accent;
      }
    }

    &.client-profile {
      width: 280px;
      height: 155px;
    }
  }

  .item-row {
    margin-bottom: 25px;
  }

  .profile-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 14px 35px;
    grid-column: ~'2 / -1';
    grid-row: auto;
    @media @mobile {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
      padding: 0 0 15px 0;
    }
    .second-prt {
      @media @tablet, @mobile {
        flex-basis: 100%;
        order: 3;
        margin-top: 10px;
      }
      .input-wrap {
        @media @tablet, @mobile {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
  }

  i {
    font-size: 16px;
    color: @white;
    margin-right: 10px;
  }

  .icon-block {
    margin: 10px 0 15px;
  }

  .icon-check-block {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .pl {
      color: @placeholder;
      font-size: 10px;
      font-family: @HL;
    }

    label {
      position: relative;
      width: 22px;
      height: 22px;
      margin-right: 5px;

      input {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &:checked {
          & + span {
            background: @accent;
          }
        }
      }

      span {
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
          margin: 0;
        }
      }
    }
  }

  .item-rating {
    margin-bottom: 10px;

    i {
      font-size: 10px;
      margin-right: 2px;

      &.active {
        color: @accent;
      }
    }
  }

  .profile-time {
    margin-bottom: 15px;

    i {
      margin-right: 5px;
    }

    .link {
      font-size: 8px;
      margin-top: 5px;
    }

    .input-wrap {
      display: flex;
      align-items: center;
      color: @white;
      font-size: 11px;
      font-family: @HM;
      margin-bottom: 5px;
    }

    input {
      width: 25px !important;
      padding: 0;
    }
  }

  h3 {
    font-size: 20px;
    font-family: @HM;
    color: @white;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
  }

  .input-wrap {
    max-width: inherit;
    padding: 0;
    margin-bottom: 10px;

    input {
      padding: 0 !important;
    }
  }
}

//.profile-info {
//  height: 315px;
//
//
//}

.profile-name {
  font-size: 20px;
  font-family: @HM;
  color: @white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
  margin-bottom: 10px;
}

.profile-address {
  padding-left: 20px;
  position: relative;

  i {
    .pos-centerY;
    left: 0;
  }

  .profile-label {
    margin-right: 5px;
  }

  .link {
    font-size: 11px;
  }

  input {
    width: 110px !important;

    &.half {
      width: 40px !important;
      margin-right: 10px;
    }
  }
}

.profile-label {
  font-size: 11px;
  color: @white;
  font-family: @HM;
}

.profile-week {
  display: flex;
  margin-top: 3px;

  span {
    font-size: 11px;
    color: @white;
    font-family: @HL;
    padding: 1px;
    display: inline-block;
    margin-right: 1px;

    &.act {
      background: @accent;
    }
  }
}

.profile-footer {
  grid-column: ~'2 / -1';
  grid-row: ~'2 / 3';
  @media @mobile {
    grid-column: ~'1 / -1';
    grid-row: ~'3 / 4';
  }
  textarea {
    height: 100px;
    width: 100%;
    resize: none;
    background: @white;
    padding: 5px 20px 7px 30px;
    margin-left: 3px;

    & + .link {
      width: 100%;
      display: block;
      text-align: right;
      padding: 10px 20px 0 0;
    }
  }
}

.profile-descr {
  background: @white;
  padding: 5px 20px 7px 30px;
  margin-left: 3px;
  max-height: 100px;
  overflow: hidden;

  p {
    color: @text !important;
    font-size: 12px;
    line-height: 1.6;
  }

  & + .link {
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px 20px 0 0;
  }
}

.profile-tabs {
  position: relative;
  z-index: 3;

  @media @tablet, @mobile {
    grid-column: ~'1 / -1';
    padding-top: 15px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      font-size: 18px;
      font-family: @HM;
      color: @accent;
      border-bottom: 4px solid @accent;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .transition(all .4s);
      cursor: pointer;

      &.active {
        color: @white;
        border-bottom-color: @white;
      }
    }
  }
}

.services-tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4fr;
  @media @mobile {
    display: block;
  }
    .tab-li {
      font-size: 16px;
      color: @accent;
      text-align: center;
      padding: 20px 0;
      cursor: pointer;
      white-space: nowrap;
      @media @tablet {
        font-size: 14px;
      }
      &[data-index='1'] {
        grid-column: ~'1 / 2';
        grid-row: ~'1 / 2';
      }
      &[data-index='2'] {
        grid-column: ~'2 / 3';
        grid-row: ~'1 / 2';
      }
      &[data-index='3'] {
        grid-column: ~'3 / 4';
        grid-row: ~'1 / 2';
      }
      &[data-index='4'] {
        grid-column: ~'4 / 5';
        grid-row: ~'1 / 2';
      }
      &[data-index='5'] {
        grid-column: ~'5 / 6';
        grid-row: ~'1 / 2';
      }
      &[data-index='6'] {
        grid-column: ~'1 / 2';
        grid-row: ~'3 / 4';
      }
      &.active {
        color: @white;

        i {
          color: @accent;
          .transform(rotate(180deg));
        }
      }
      i {
        font-size: 16px;
        color: @white;
        margin-left: 15px;
        .transition(all .4s);
      }
    }

  .services-tab-content {
    &[data-index='1'] {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
    }
    &[data-index='2'] {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
    }
    &[data-index='3'] {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
    }
    &[data-index='4'] {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
    }
    &[data-index='5'] {
      grid-column: ~'1 / -1';
      grid-row: ~'2 / 3';
    }
    &[data-index='6'] {
      grid-column: ~'1 / -1';
      grid-row: ~'4 / 5';
    }
    .container-mini {
      padding: 30px 140px 30px 70px;
      @media @mobile {
        padding: 30px 15px;
      }
    }
  }

}

.profile-tabs-content {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 20px;
}

.list-info {
  li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .ttl {
      font-size: 14px;
      font-family: @HM;
      color: @white;
    }

    .txt {
      border: none;
      border-bottom: 1px solid @white;
      color: @white;
      font-size: 12px;
      background: transparent;
      height: 20px;
    }

    .fas {
      font-size: 16px;
      left: ~'calc(100% + 10px)';
      .pos-centerY;

      &.fa-minus {
        color: @red;
      }

      &.fa-plus {
        color: @green;
      }
    }

    .right-label {
      font-size: 8px;
      color: @white;
      font-family: @HM;
      .pos-centerY;
      white-space: nowrap;
      left: ~'calc(100% + 40px)';
    }
  }

  .text-field {
    font-size: 15px;
    font-family: @HL;
    height: 20px;
    width: 100px;
    background: @white;
    text-align: center;
  }
}

.gallery-block {
  margin-top: 5px;

  .container {
    padding: 50px 15px 50px;
  }
}

.photo-gallery {
  grid-template-columns: repeat(3, 250px);
  grid-gap: 40px;
  justify-content: space-between;
  grid-template-rows: 250px;
  @media @tablet {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }
  @media @mobile {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    justify-content: center;
    grid-template-rows: auto;
  }
  &.edit-gallery {
    @media @mobile {
      grid-gap: 40px;
    }
  }
  .item {
    position: relative;
    height: 250px;
    @media @tablet {
      height: 200px;
    }
    @media @mobile {
      height: 150px;
    }
    .delete {
      position: absolute;
      left: 100%;
      top: 0;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}

/*REVIEWS*/

.reviewsWrapper {
  .btn-bar {
    margin: 25px 0 35px;
  }

  .item {
    margin-bottom: 20px;

    &-content {
      height: 165px;
      //height: 100%;
      position: relative;
      padding: 0 0 0 303px;
      @media @mobile {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
      }
      &.show {
        height: auto;
      }
    }

    &-avatar-wrap {
      position: absolute;
      left: -117px;
      top: 0;
      @media @mobile {
        position: relative;
        left: auto;
        top: auto;
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: auto;
        margin-bottom: 10px;
      }
      .item-address {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 16px;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
        color: @white;
        font-family: @HM;
        @media @mobile {
          position: relative;
          bottom: auto;
          right: auto;
          grid-column: ~'2 / 3';
          grid-row: ~'2 / 3';
          padding: 0 10px;
        }
      }

      .item-info {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        @media @mobile {
          position: relative;
          top: auto;
          right: auto;
          overflow: visible;
          flex-basis: ~'calc(100% - 80px)';
          grid-column: ~'2 / 3';
          grid-row: ~'1 / 2';
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .blur {
          filter: blur(5px);
          position: absolute;
          width: ~'calc(100% + 6px)';
          left: -3px;
          top: -3px;
          right: -3px;
          bottom: 17px;
          z-index: 0;
          background-position: top right;
          @media @mobile {
            display: none;
          }
        }

        .name {
          height: 34px;
          color: @white;
          font-family: @HM;
          align-items: center;
          padding: 0 10px;
          display: inline-flex;
          position: relative;
          z-index: 5;
          @media @mobile {
            height: auto;
            padding: 15px 10px 0;
          }
        }

        .item-rating {
          background: rgba(36, 36, 36, .8);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          position: relative;
          z-index: 5;
          @media @mobile {
            align-self: baseline;
          }

          i {
            font-size: 10px;
            color: @white;
            margin-right: 5px;

            &.active {
              color: @accent;
            }
          }
        }
      }
    }
    &-avatar {
      width: 420px;
      height: 165px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media @mobile {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 50%;
        rid-column: ~'1 / 2';
        grid-row: ~'1 / 3';
      }
    }

    &-text {
      height: 100%;
      padding: 20px 20px 20px 40px;
      background: @gray-bg;
      @media @mobile {
        padding: 10px;
        border-radius: 0 15px;
        flex-basis: ~'calc(100% - 90px)';
      }
      .wrap {
        max-height: 100%;
        overflow: hidden;
        position: relative;
      }

      p {
        line-height: 1.8;
        margin-bottom: 15px;
      }

      .show-more {
        position: absolute;
        .pos-centerX;
        bottom: 0px;
        color: @white;
        font-size: 16px;
      }
    }

    &.item-review {
      .item-text {
        padding: 7px 20px 7px 40px;
        @media @mobile {
          padding: 10px;
          border-radius: 0;
        }

        .item-top {
          text-align: right;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 10px;

          label {
            font-size: 12px;
            color: @white;
            font-family: @HM;
            margin-right: 30px;
          }

          .item-rating {
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              font-size: 10px;
              color: @white;
              text-shadow: 1px 1px 1px @accent;
              margin-right: 5px;

              &.active {
                color: @accent;
              }
            }
          }
        }

        .txt {
          width: 100%;
          height: 110px;
          background: @white;
          font-size: 12px;
        }

        .btn-bar {
          text-align: right;
          margin: 0;

          .link {
            font-size: 11px;
            color: @white;
            font-family: @HM;
            text-decoration: underline;
            cursor: pointer;
            @media @mobile {
              font-size: 14px;
              margin-top: 5px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.editWrapper {
  padding: 35px 0 10px;

  .formWrapper {
    max-width: 520px;
    @media @tablet, @mobile {
      margin: 0;
      .col-6 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .input-wrap {
      max-width: 210px;
      padding-right: 0;
      @media @mobile {
        max-width: 100%;
      }
    }

  }

  .btn-link {
    font-size: 12px;
  }
}

